body {
  margin: 0;
  font-family: Arial, sans-serif;
}


::selection {
  background: #efa9c3;
}

.navbar {
  transition: background-color 0.1s ease;
  background-color: #003c6b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #000;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #f875a6 !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #fff !important;
  transition: color 0.2s ease;
}

.section {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

}

.section.active {
  opacity: 1;
}

.hidden {
  display: none !important;
}


.btn-pink {
  background-color: #f875a6 !important;
  color: #fff !important;
  border: none !important;

}

.btn-pink:hover {
  background-color: #004b8d !important;
  color: #fff !important;
}

.text-white {
  color: #003c6b;
}

.content img {
  max-width: 100%;
  height: auto;
}

.about-section h3 {
  border-bottom: 2px solid #f875a6;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

#read h2,
#read p,
#read ul,
#read li {
  color: #fff;
}

#read {
  background-color: #003c6b;
}

/* Watched Section */
#watched {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.watched-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.watched-text {
  flex: 1;
  text-align: center;
}

.watched-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.watched-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #003c6b;
}

tr:nth-child(odd) {
  background-color: #004080;
}

th {
  background-color: #003c6b;
}

table tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

table tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* Read Section */
#read {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


}

.read-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.read-text {
  flex: 1;
  text-align: center;
}

.read-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.read-image img {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
}

.styled-table-read {
  width: 100%;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  background-color: #e1f1fb;
}

.styled-table-read td {
  padding: 12px 20px;
  border: 1px solid #003c6b;
  color: #003c6b;
}

.styled-table-read tr:nth-child(even) {
  background-color: #d2e7f5;
}

.styled-table-read tr:nth-child(odd) {
  background-color: #e1f1fb;
}

.styled-table-read tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.styled-table-read tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.home-image {
  flex: 1;
  max-width: 45%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.home-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
  justify-content: flex-end;
  transform: translateY(-40px);

}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 5px;
}

.home-text {
  flex: 1;
  color: #fff;
  padding: 5px;
}

@media (max-width: 768px) {
  .home-text {
    padding: 5px;
  }

  .home-image img {
    height: auto;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-text h1 {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.home-text p {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1s;
}

.list-group-item i {
  margin-right: 10px;
  color: #003c6b;
}

.skill-icon {
  width: 40px;
  margin-right: 50px;
}

.python,
.flutter {
  width: 100px;
}

.java {
  width: 80px;
}

a.link {
  color: #f875a6;
}

a.link:hover {
  color: #003c6b;
}

.list-group-item {
  border: none;
  border-top: 1px solid #f875a6 !important;
  padding: 10px 0;
}

.list-group-item:first-child {
  border-top: none !important;
}