body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  transition: background-color 0.3s ease;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #000;
}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
  color: #fff;
}

.section {
  padding: 50px 0;
}

.hidden {
  display: none;
}

.btn-pink {
  background-color: #f875a6 !important;
  color: #fff !important;
  border: none !important;
}

.btn-pink:hover {
  background-color: #e1648f !important;
  color: #fff !important;
}


.text-white {
  color: #003c6b;
}

.content img {
  max-width: 100%;
  height: auto;
}

.about-section h3 {
  border-bottom: 2px solid #f875a6;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}

#read h2,
#read p,
#read ul,
#read li {
  color: #fff;
}

#read {
  background-color: #003c6b;


}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.home-container img {
  max-width: 100%;
  height: auto;
}

.home-container h1 {
  color: #fff;
}